body { font-family: Arial; background: #f5f7fb; }
.container { padding: 40px; }
input { display:block; margin:10px 0; padding:10px; }
button { padding:10px; background:#4f46e5; color:white; border:none; }
.btn { margin:10px; padding:12px; background:#22c55e; color:white;text-decoration: none; }
.secondary { background:#3b82f6;text-decoration: none; }
.TestDec{
    text-decoration: none;
    color:white;
    margin:0px 7px 0px 7px;
}
.Divison{
    display: flex;
    margin:10px;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #4f46e5, #6366f1);
  padding: 12px 20px;
  color: white;
  position: relative;
  height:40px;
}